.*.swp
._*
.DS_Store
.git
.hg
.lock-wscript
.svn
.wafpickle-*
CVS
*.log
webpack*

.github/
.storybook/
.vscode/
coverage/
docs/
example/
node_modules/
src/
tests/
storybook-static/

.eslint*
.prettier*
.gitignore
jest*
*.stories.*
CHANGELOG.md
tsconfig.json
renovate.json